<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生页面</title>
</head>
<body>
<div th:include="main::nav">

</div>
<h3>学生管理</h3>
<hr>
  <div style="display: flex">
      <div style="width: 50%;">
        <table border="1" width="95%">
                <tr th:each = "t : ${stus}">
                    <td><span th:text="${t.uid}"></span></td>
                    <td><span th:text="${t.uname}"></span></td>
                    <td><span th:text="${t.phone}"></span></td>
                    <td><span th:text="${t.pwd}"></span></td>
                    <td><span th:text="${t.clzno}"></span></td>
                    <td><span th:text="${t.clzname}"></span></td>
                    <td>
                        <!--<a th:href="'/book/page?book='+${bookId}+'&page='+${pageNumber}"-->
                        <a th:href="'/adm/stu/go2Update?uid='+${t.uid}">
                            更改
                        </a>
                    </td>
                    <td>
                        <a th:href="'/adm/stu/del?uid='+${t.uid}">
                        删除
                    </a>
                    </td>
                </tr>
        </table>
      </div>
     <!-- 输入-->
      <div style="width: 48%;">
          <button><a href="/adm/stu/go2Add">添加一位新学生</a></button>
          <hr>
          <h4 th:if="${action=='Add'}">添加学生</h4>
          <h4 th:if="${action=='Update'}">修改学生</h4>
          <form  th:action="'/adm/stu/do' + ${action}" method='post'>
              <p>编号:<input type='text' name='uid'
                             th:value="${user.uid}" readonly></p>
              <p>名称:<input type='text' name='uname'
                             th:value="${user.uname}"></p>
              <p>电话:<input type='text' name='phone'
                           th:value="${user.phone}"></p>
              <p>密码:<input type='text' name='pwd'
                           th:value="${user.pwd}"></p>
              <!-- 难点在下拉框处理, 需要所有班级信息， 并且匹配当前学生所在的班级-->
              <p>班级:
                <select name = "clzno">
                    <option th:each="clz : ${clzs}"
                            th:text="${clz.clzname}"
                            th:value="${clz.clzno}"
                             th:selected="${user.clzno} == ${clz.clzno}">
                    </option>
                </select>
              </p>
              <p th:if="${action=='Add'}"><input type='submit' value='添加学生'></p>
              <p th:if="${action=='Update'}"><input type='submit' value='更新学生'></p>
          </form>
      </div>
  </div>
</body>
</html>

<!-- <p>课程编号:
        <select name = "tid">
            <option th:each="t : ${ts}"
                    th:text="${t.tname}"
                    th:value="${t.tid}"
                     th:selected="${t.tid} == ${c.tid}">
            </option>
        </select>
    </p>-->