<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <!-- 导航栏-->
    <div th:fragment="nav">
      <div style="border: 2px darkred solid;" >
        <h3 align="center">基于SpringBoot2.7.x MyBatis2.3.x Thymeleaf 的学生成绩简易系统-Mark5</h3>
        <div style="display: flex; justify-content: space-between">
            <!--<p th:text="${session.who}"></p>-->
            <h4><a href="/home/main">学生成绩简易系统-首页</a></h4>
            <div  style="width: 50%;display: flex; justify-content: space-between; padding-top: 12px">
                <p style="color: brown" th:if="${session.who == null}">
                    未登录
                </p>
                <p style="color: blue" th:if="${session.who != null}">
                    <!-- private String uname;-->
                    姓名: <span th:text="${session.who.uname}"></span>
                </p>
                <p style="color: blueviolet" th:if="${session.who != null && session.who.role==1}">
                    角色:  <span>学生</span>
                </p>
                <p style="color: blueviolet" th:if="${session.who != null && session.who.role==5}">
                    角色:  <span>教师</span>
                </p>
                <p style="color: blueviolet" th:if="${session.who != null && session.who.role==9}">
                    角色:  <span>教务处</span>
                </p>
                <p style="color: blue"><a href="/home/logout">退出</a></p>
                <p>&nbsp;</p>
            </div>
        </div>
        <hr>
    </div>
    </div>
    <!-- 导航栏结束-->

    <!--登录和功能菜单-->
    <div  style="border: 2px black solid; display: flex; justify-content: space-between">
        <!--登录-->
        <div style="min-height:500px; width:40%; border: 2px blue solid;">
            <!--<h3>登录</h3>-->
            <div style="margin-left: 2%; width: 90%">
                <h3 align="center">登录</h3>
                <table width="90%" border="1" cellspacing="0" style="line-height: 36px">
                    <form action='/home/login' method='post'>
                        <tr>
                            <td>手机号:</td> <td><input type='text' name='phone'></td>
                        </tr>
                        <tr>
                            <td>密码:</td><td><input type='text' name='pwd'></td>
                        </tr>
                        <tr>
                            <td></td><td><input type='submit' value='登录'></td>
                        </tr>
                    </form>
                </table>
                <h4 th:text="${err}"></h4>
            </div>
        </div>
        <!--菜单-->
        <div style="min-height:500px; width:56%; border: 2px darkgreen solid;">
            <!--<h3>菜单</h3>-->
            <div>
                <!--管理员窗口-->
                <div>
                    <h3>管理员端- 管理员登录后方可操作</h3>
                    <div th:if="${session.who != null && session.who.role==9}">
                        <ul style="list-style: square">
                            <li><a href="/adm/clz/go2Add">班级管理</a></li>
                            <li><a href="/adm/course/go2Add">课程管理</a></li>
                            <li><a href="/adm/stu/go2Add">学生管理</a></li>
                            <li><a href="/adm/tea/go2Add">教师管理</a></li>
                            <li><a href="/adm/task/show">排课-安排教师到某班上某课</a></li>
                        </ul>
                    </div>
                </div>
                <!--管理员窗口结束-->


                <!--教师窗口-->
                <div>
                    <h3>教师端-教师登录后方可操作</h3>
                    <div th:if="${session.who != null && session.who.role==5}">
                        <ul style="list-style: square">
                            <li><a href="/tea/go2updateMe">修改密码</a></li>
                            <li><a href="/tea/findMyTask">登分管理-难</a></li>
                        </ul>
                    </div>
                </div>
                <!--教师窗口结束-->

                <!-- 学生窗口-->
                <div>
                    <h3>学生端-学生登录后方可操作</h3>
                    <div th:if="${session.who != null && session.who.role==1}">
                        <ul style="list-style: square">
                            <li><a href="/stu/go2updateMe">修改密码</a></li>
                            <li><a href="/stu/findMyCourse">我的课程查询-我所在班级的课程表</a></li>
                            <li><a href="/stu/findMyMark">我的成绩查询 - 有点难</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 学生窗口结束-->
            </div>


        </div>
    </div>
</body>
</html>